(
    definitions: [
        // Actor structs can have properties overridden by Character structs for essentially "inheritance"
        (
            name: "Player",
            path: "res://characters/lucas.tscn", 
            // size in actual units, ie: world space
            bounds: [
                1,
                2,
                1,
            ],
            actor_type: Player,
        ),
        (
            name: "Monument",
            path: "res://characters/lucas.tscn", 
            // size in actual units, ie: world space
            bounds: [
                1,
                2,
                1,
            ],
            actor_type: Monument,
        ),
        (
            name: "Tree",
            path: "res://models/alpinetree.escn", 
            // size in actual units, ie: world space
            bounds: [
                1,
                4.5,
                1,
            ],
            actor_type: Actor,
        ),
    ]
    
)

