(
    definitions: [
        // Actor structs can have properties overridden by Character structs for essentially "inheritance"
        (
            name: "Player",
            file_name: "res://characters/lucas.tscn", 
            // size in actual units, ie: world space
            bounds: [
                1,
                2,
                1,
            ]
        ),
        (
            name: "Tree",
            file_name: "res://characters/lucas.tscn", 
            // size in actual units, ie: world space
            bounds: [
                1,
                2,
                1,
            ]
        ),
    ]
    
)

