{
    entities: {
        "Player": {
            "actor": ("Player"),
            "bounds": ([
                2,
                2,
                1,
            ]),
            "playable_character": (None),
            "actor_scene_key": ("lucas"),
        },
        "Tree": {
            "actor": ("Tree"),
            "bounds": ([
                1,
                4.5,
                1
            ]),
            "actor_scene_key": ("alpine_tree"),
        }
    },
}