(
    definitions: [
        (
            name: "Lucas",
            path: "res://characters/lucas.tscn",
            bounds: [
                1,
                2,
                1,
            ],
            
        )
    ]
)